.componentes{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    max-width: 1200px;
    margin: 40px auto;
}

.componentes td, .componentes th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.componentes tr:nth-child(even){background-color: #f2f2f2;}

.componentes tr:hover {background-color: #ddd;}

.componentes th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #2d2f2d;
    color: white;
}

.container{
    display:flex;
    flex-direction: row;
    width: 60vw;
    max-width: 800px;
}

.container table{
    flex-grow: 1;
}